<div class="mimir-ui-content window-content theme-light">
    <h2>Mimir's Codex</h2>
        <p>Welcome to the Codex. Use this to track shared DM information!</p>
    <h2>Import Journal Entries</h2>
    <section class=""window-content>
        <form>
            <button id="import-button" class='action-buttons theme-light' type="button"><i class='fas fa-book-open'></i>Import Notes</button>
            <button id="refresh-button" class='action-buttons theme-light' type="button"><i class='fas fa-book'></i>Refresh Notes</button>
        </form>
    </section>
</div>

<div class="message-content">
    <div class="dnd5e2 chat-card activation-card" data-display-challenge="">
<section class="card-header description collapsible">
    <header class="summary">
        <img class="gold-icon" src="systems/dnd5e/icons/svg/items/weapon.svg" alt="New Item">
        <div class="name-stacked border">
            <span class="title">New Item</span>
            <span class="subtitle">Simple Melee</span>
        </div>
        <i class="fa-solid fa-chevron-down fa-fw" inert=""></i>
    </header>
    <section class="details collapsible-content card-content">
        <div class="wrapper"></div>
    </section>
</section>


