<div class="mimir-ui-content window-content theme-light">
    <h2>Mimir's Codex</h2>
        <p>Welcome to the Codex. Use this to track shared DM information!</p>
    <h2>Import Journal Entries</h2>
    <section class=""window-content>
        <form>
            <button id="import-button" class='action-buttons theme-light' type="button"><i class='fas fa-book-open'></i>Import Notes</button>
            <button id="refresh-button" class='action-buttons theme-light' type="button"><i class='fas fa-book'></i>Refresh Notes</button>
        </form>
    </section>
</div>

