<div class="dnd5e2 chat-card activation-card" data-display-challenge="">
    <section class="card-header description collapsible">
        <header class="summary">
            <img class="gold-icon" src="systems/dnd5e/icons/svg/items/loot.svg" alt="Mimir's Wisdom">
            <div class="name-stacked border">
                <span class="title">Mimir's Wisdom</span>
                <span class="subtitle">Knowledge Shared</span>
            </div>
            <i class="fa-solid fa-chevron-down fa-fw" inert=""></i>
        </header>
        <section class="details collapsible-content card-content">
            <div class="wrapper">{{{responseContent}}}</div>
        </section>
    </section>
</div>

