 
#refresh-button {
    border: 2px groove;
    padding: 1px;
    cursor: pointer;
} 
    
.mimir-ui-content h2 {
    font-size: 1.5em; /* Adjust font size if needed */
    color: black; /* Use Foundry's color system if desired */
}
  
#import-button {
    border: 2px groove;
    padding: 1px;
    cursor: pointer;
}

.user-message {
    text-align: right;
}

.ai-message {
    text-align: left;
}