.mimir-ui-content {
    padding: 10px;
  }
  
  #refresh-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  #refresh-button:hover {
    background-color: #45a049;
  }
  
